
.video__section{
    position: relative;
}


.play__btn{
    /* Position */
    left: 100px;
    top:10%;

    /* Take full size */
    height: 50%;
    width: 50%;

    /* Center the content */
    /* align-items: center;
    display: flex; */
    /* justify-content: center; */
}



.loop1{
    height: 200px;
    width: auto;
    left: 600px;
    z-index: -1;
}